* {
  margin: 0;
  box-sizing: border-box;
}

.home {
  display: flex;
  background: rgba(225, 84, 20, 1);
}

.vector {
  z-index: 100;
  width: 20%;
  height: 10%;
}

.vector_right {
  background-color: white;
  width: 75%;
}

.nav {
  /* background-color: coral; */
  height: 7%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 70%;
  padding: 10px;
  margin-left: 20px;
}
.nav-btn-div {
  display: flex;
  align-items: center;
}
.nav-btn {
  padding: 10px;
  margin-right: 25px;
  font-size: x-large;
}

.footer {
  text-align: center;
}

.contactBox {
  margin: 10px 20px 20px 10px;
  padding: 10px;
  border: 4px solid;
  border-radius: 25px;
  background-color: whitesmoke;
  width: 650px;
}

.AccordionBody {
  margin: 20px;
  margin-right: 50px;
}

.main {
  margin: 10px 20px 10px 40px;
  padding: 0px 25px;
}
